---
version: 2.1

orbs:
  terraform: feedyard/terraform@dev:latest

workflows:
  version: 2

  tf-aws-platform-eks-module-ci-pipeline:
    jobs:
      - terraform/lint:
          context: global
      - terraform/module-ci:
          context: global
          working-directory: test/fixture
          env: ci
          aws-access-key-id: $FEEDYARD_SANDBOX_CI_AWS_ACCESS_KEY_ID
          aws-secret-access-key: $FEEDYARD_SANDBOC_CI_AWS_SECRET_ACCESS_KEY
          aws-region: us-east-1
          before-terraform:
            - run:
                name: fixture setup
                working-directory: test/fixture/setup
                command: |
                  terraform init
                  terraform apply -var-file=ci.json -auto-approve
          integration-tests:
            - run:
                name: awspec tests of fixture
                working-directory: test/fixture
                environment:
                  PLATFORM_ENV: ci
                command: inspec exec ../integration/default
          after-terraform:
            - run:
                name: fixture setup teardown
                working-directory: test/fixture/setup
                command: terraform destroy -var-file=ci.json -auto-approve

