---
version: 2.1

orbs:
  terraform: feedyard/terraform@dev:latest

workflows:
  version: 2

  tf-aws-platform-eks-module-ci-pipeline:
    jobs:
      - terraform/lint:
          context: global
      - terraform/apply:
          context: global
          working-directory: test/fixture/setup
          aws-access-key-id: $FEEDYARD_SANDBOX_CI_AWS_ACCESS_KEY_ID
          aws-secret-access-key: $FEEDYARD_SANDBOC_CI_AWS_SECRET_ACCESS_KEY
          aws-region: us-east-1
      - terraform/apply:
          context: global
          working-directory: test/fixture
          aws-access-key-id: $FEEDYARD_SANDBOX_CI_AWS_ACCESS_KEY_ID
          aws-secret-access-key: $FEEDYARD_SANDBOC_CI_AWS_SECRET_ACCESS_KEY
          aws-region: us-east-1
          after-terraform:
            - run:
                name: awspec tests of fixture
                working-directory: test/fixture
                environment:
                  PLATFORM_ENV: ci
                command: inspec exec ../integration/default
      - terraform/destroy:
          context: global
          working-directory: test/fixture/setup
          aws-access-key-id: $FEEDYARD_SANDBOX_CI_AWS_ACCESS_KEY_ID
          aws-secret-access-key: $FEEDYARD_SANDBOC_CI_AWS_SECRET_ACCESS_KEY
          aws-region: us-east-1
      - terraform/destroy:
          context: global
          working-directory: test/fixture
          aws-access-key-id: $FEEDYARD_SANDBOX_CI_AWS_ACCESS_KEY_ID
          aws-secret-access-key: $FEEDYARD_SANDBOC_CI_AWS_SECRET_ACCESS_KEY
          aws-region: us-east-1
